@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-color: #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 

    --bglayer1: rgb(60, 60, 60);
  }

/* body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
    margin: 0px;
    font-family: Roboto;
} */
body {
    color: #aaa;
    background-color: #2c2c2c;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.spacerthing {
    margin: 8px;
}

.sound-container{
    width: clamp(200px, 80%, 700px);
    background-color: var(--bglayer1);
    border: 2px solid var(--border-color);
    /* border: var(--border); */
    padding-top: 10px;
}

button{
    margin-left:3px;
    display:inline;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.button {
    border: none;
    color: white;
    width: 75px;
    /* padding: 16px 32px; */
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    
} */
.button1 {
    background-color: rgb(88, 101, 242);
    color: rgb(219, 219, 219);
    border: 2px solid var(--border-color);
    /* border: 2px solid #4CAF50; */
    
}

/* .card button {
    background-color:rgb(88, 101, 242);
    color: #dcdcdc;
    border-radius: 2px;
    border: none;
    padding: 5px 16px;
} */

.button1:hover {
    /* background-color: #4CAF50; */
    filter: brightness(1.2);
    color: white;
}


/* Fireship Navbar */


  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  

/* Top Navigation Bar */

/* <nav> */
.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
  }

.navbar form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-center {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* <ul> */
.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    /* justify-content: flex-end; */
  }

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* margin-left: auto; */
}

.right {
    margin-left: auto;
}

/* Icon Button */
.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}

.dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item .icon-button {
    margin-right: 0.5rem;
}
  
.menu-item .icon-button:hover {
    filter: none;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #525357;
}
/* https://medium.com/eightshapes-llc/light-dark-9f8ea42c9081 */
.loading-container {
    height: 100vh;
    background-color: #414141;
    /* background-color: #DEE4E7; */
    /* background-color: var(--bg); */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
}

.centerthis{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* login card */

.card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elevation-demo-container {
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;

    height: 100vh;
    align-items:center;
    justify-content: center;
}


.elevation-demo-surface {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-height: 100px;
    min-width: 200px;
    margin: 15px;
    -ms-flex-align: center;
    align-items: center;

    flex-direction: column;

}

.mdc-elevation--z6 {
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

.card {
    /* border: 3px #0a0a0a solid; */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */
    border-radius: 15px;
    /* transition: all 0.3s linear; */
    width: clamp(200px, 70%, 300px);
    /* cursor: pointer; */
    /* background-color: #f3f3f3; */
    background-color: var(--bglayer1);
    color: #ebebeb;
    padding: 10px;
    /* text-align: left; */
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
    /* position: absolute; 
    top: 0;
    left: 0;
    right: 0; */
  }

/* .card:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
} */

.card button {
    background-color:rgb(88, 101, 242);
    /* background-color:#634dc7; */
    color: #dcdcdc;
    border-radius: 2px;
    border: none;
    padding: 5px 16px;
}

.card button:hover {
    filter: brightness(1.2);
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms linear;
    /* transition: opacity 500ms linear 500ms; */
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms linear;
}
.fade-exit-done {
  opacity: 0;
}